<%- include('partials/header') -%>
<div class="container">
  <div class="row mt-5">
    <div class="col text-center">
      <h2 class="mt-5 display-1 text-success">Order Added!</h2>
      <a href="/" class="col-3 btn btn-primary mt-2"> Back to ordering screen</a>
    </div>
  </div>
</div>
<%- include('partials/footer') -%>